@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
<form id="claim-form" data-url-action="@Url.Action("Claim", "Jobs")" >
    <input name="Id" type="hidden" value="@Model.JobId" />
    <input name="Title" type="hidden" value="@Model.Title" />
    <input name="Description" type="hidden" value="@Model.Description" />

    @*bunch of hidden detail to pass into claim.*@

    <h4>@Model.Title</h4>
    <button type="submit">Claim this job </button>


</form>
<p>@Html.ActionLink("Back to list", "Index")</p>



@*@using (Html.BeginForm())
{
}
@Html.HiddenFor(model => model.JobId)
@Html.HiddenFor(model => model.Title)
@Html.HiddenFor(model => model.Description)*@