@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3 class="page-title">Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    @if(Job.Completed != true)
    {
        <div class="job-holder">
            <h3 class="job-title">@Job.Title</h3>
            <h5 class="job-description">@Job.Description</h5>

            @if(Job.Worker == null)
            {
                <p>
                    This job is unclaimed.  @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })
                </p>
            }
            else
            {
                <p>
                    This job is claimed by @Job.Worker.FirstName @Job.Worker.LastName
                </p>
                @if(Job.Pending == true)
                {
                    <p>
                        Currently being worked on by @Job.Worker.FirstName
                    </p>

                }
            }
            <h5>@Html.ActionLink("Details", "Details", new { id = Job.JobId })</h5>

            <hr class="separator"/>
        </div>

    }
}

